
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');
.main-container{
    margin-top: 50px;
}
.main-heading{
    width:90%;
    display: block;
  margin-left: 10%;
  margin-top: 11%;
}
.main-heading-text{
    font-size: 3.3rem;
    font-family: 'Roboto Mono',
    monospace;
    color: rgb(109, 109, 109);
}
.main-image{
    margin-left: 70px;
}