
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');
.main-container{
    margin-top: 50px;
}
.main-heading{
    width:85%;
    display: block;
  margin-left: 13%;
  margin-top: 17%;
}
.main-heading-text{
    font-size: 3.2rem;
    font-family: 'Roboto Mono',
    monospace;
    color: rgb(129, 129, 129);
}
.main-image{
    margin-left: 70px;
    height: 500px;
    margin-top: 30px;
}
.spanit{
     color: #1976d2;
}