.assigmentHeading{
    color: rgb(122, 122, 122);
}
.assgn-cards{
    color: rgb(94, 94, 94);
}
.assgn-cards-head{
    color: rgb(87, 87, 87);
    margin-bottom: 20px !important;
}
.assgn-box{
    padding: 10px;
}